h1 {
    text-align: center;
}

p {
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 150px;
    margin-left: 80px;
    text-align: center;
  }

img {
    display: block;
    margin: 0 auto;
}

.caption {
    margin:auto;
    margin-top: 0px;
    margin-bottom: 50px;
    width: 970px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    border: .5px solid black;
}